.wy-side-nav-search, .wy-nav-top {
    background: #be8c00;
}
.rst-content code {
    border-radius: 5px;
}
.rst-content code.literal {
    color: #146ff9;
}
.rst-content img {
    box-shadow: 0 0 4px 2px #00000047;
}